Repository kptdev/kpt, pull requests merged in 2020-12, with the labels that each got.

#1244 Adds kpt live install-resource-group command
  commands/installrg.go
  commands/livecmd.go
  commands/migratecmd.go
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/install-rg-crd/example-resource-group.yaml
  e2e/live/testdata/inventory-template.yaml
  e2e/live/testdata/test-case-1a/inventory-template.yaml
  e2e/live/testdata/test-case-1b/inventory-template.yaml
  go.sum
  internal/util/search/pathparser.go
  internal/util/search/pathparser_test.go
  pkg/live/inventoryrg.go
Labels: area/live, enhancement, triaged

#1255 Add 2021 roadmap for kpt
  README.md
  docs/ROADMAP.md
  docs/guides/producer/index.xml
  docs/guides/producer/setters/index.html
  docs/reference/fn/index.xml
  docs/reference/fn/run/index.html
  docs/sitemap.xml
Labels: documentation

#1254 change the inventory field to pointer
  commands/initcmd.go
  commands/migratecmd_test.go
  pkg/kptfile/pkgfile.go
  pkg/live/rgpath.go
Labels: area/live

#1264 Fixes panic when inventory is empty
  pkg/kptfile/kptfileutil/util.go
  pkg/kptfile/kptfileutil/util_test.go
  pkg/live/rgpath.go
Labels: area/live

#1267 Adds option to kpt e2e test to build using dependencies at HEAD
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/migrate-case-1a/Kptfile
  e2e/live/testdata/migrate-case-1b/Kptfile
  e2e/live/testdata/migrate-error/Kptfile
Labels: area/live

#1270 Unify ResourceGroup CRD installation output
  commands/installrg.go
  commands/migratecmd.go
  e2e/live/end-to-end-test.sh
  pkg/live/inventoryrg.go
Labels: area/live

#1282 kpt run CRD installation before live apply
  commands/applycmd.go
  commands/livecmd.go
Labels: area/live, enhancement

#1283 Adds flags and k8s cluster versions to e2e test
  e2e/live/end-to-end-test.sh
Labels: area/live, enhancement

#1287 Small fixes to kpt live e2e test
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/migrate-error/namespace.yaml
  e2e/live/testdata/migrate-error/pod-a.yaml
  e2e/live/testdata/migrate-error/pod-b.yaml
  e2e/live/testdata/migrate-error/pod-c.yaml
Labels: area/live

#1295 Updates migrate no ConfigMap error to be success
  commands/migratecmd.go
  e2e/live/end-to-end-test.sh
Labels: area/live

#1289 Fixes bug in dry-run for kpt live migrate
  commands/migratecmd.go
  e2e/live/end-to-end-test.sh
Labels: area/live, bug, size/S

#1290 Adds output to kpt live init for ResourceGroup and flag
  commands/initcmd.go
  commands/migratecmd.go
  e2e/live/end-to-end-test.sh
Labels: area/live

#1294 Update error handling for e2e test; adds tests
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/template-rg-namespace.yaml
  e2e/live/testdata/template-test-namespace.yaml
Labels: area/live
