Repository kptdev/kpt, pull requests merged in 2020-11, with the labels that each got.

#1175 removing the function examples
  Makefile
  functions/examples/Dockerfile
  functions/examples/helloworld/function.go
  functions/examples/main.go
  functions/examples/util/util.go
  package-examples/helloworld-generate/Kptfile
  package-examples/helloworld-generate/README.md
  package-examples/helloworld-generate/helloworld.yaml
  release/branch/cloudbuild.yaml
  release/tag/cloudbuild.yaml
Labels: area/devops, cleanup

#1117 First version of kpt live migrate command
  commands/initcmd.go
  commands/initcmd_test.go
  commands/migratecmd.go
  commands/migratecmd_test.go
  go.sum
  pkg/live/fake-rgprovider.go
  pkg/live/inventoryrg.go
  pkg/live/inventoryrg_test.go
  pkg/live/rgpath.go
Labels: area/live, enhancement, size/XXL

#1177 Dual-delegating provider allows ConfigMap and ResourceGroup inventory
  pkg/live/dual-delegating-provider.go
  pkg/live/dual-delegating-provider_test.go
  pkg/live/rgpath.go
  pkg/live/rgpath_test.go
  pkg/live/rgstream.go
Labels: area/live, enhancement, size/L

#1194 Fixes migrate command bug
  commands/livecmd.go
Labels: area/live, bug, size/S

#1211 Fixes bug when validating ResourceGroup after storing zero inventory
  pkg/live/inventoryrg.go
Labels: area/live

#1169 Adds server-side apply docs to kpt live apply
  site/content/en/reference/live/apply/_index.md
  site/content/en/reference/live/preview/_index.md
Labels: area/live, documentation

#1229 kpt live end-to-end test script
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/Kptfile
  e2e/live/testdata/inventory-template.yaml
  e2e/live/testdata/migrate-1/Kptfile
  e2e/live/testdata/migrate-1/namespace.yaml
  e2e/live/testdata/migrate-1/pod-a.yaml
  e2e/live/testdata/migrate-1/pod-b.yaml
  e2e/live/testdata/migrate-1/pod-c.yaml
  e2e/live/testdata/migrate-2/Kptfile
  e2e/live/testdata/migrate-2/namespace.yaml
  e2e/live/testdata/migrate-2/pod-b.yaml
  e2e/live/testdata/migrate-2/pod-c.yaml
  e2e/live/testdata/migrate-2/pod-d.yaml
  e2e/live/testdata/migrate-3/Kptfile
  e2e/live/testdata/migrate-3/namespace.yaml
  e2e/live/testdata/migrate-3/pod-a.yaml
  e2e/live/testdata/migrate-3/pod-b.yaml
  e2e/live/testdata/migrate-3/pod-c.yaml
  e2e/live/testdata/test-1/Kptfile
  e2e/live/testdata/test-1/inventory-template.yaml
  e2e/live/testdata/test-1/namespace.yaml
  e2e/live/testdata/test-1/pod-a.yaml
  e2e/live/testdata/test-1/pod-b.yaml
  e2e/live/testdata/test-1/pod-c.yaml
  e2e/live/testdata/test-2/Kptfile
  e2e/live/testdata/test-2/inventory-template.yaml
  e2e/live/testdata/test-2/namespace.yaml
  e2e/live/testdata/test-2/pod-b.yaml
  e2e/live/testdata/test-2/pod-c.yaml
  e2e/live/testdata/test-2/pod-d.yaml
  go.mod
  go.sum
Labels: area/live

#1241 Rename testdata dir names to convey how they work together
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/migrate-case-1a/Kptfile
  e2e/live/testdata/migrate-case-1a/namespace.yaml
  e2e/live/testdata/migrate-case-1a/pod-a.yaml
  e2e/live/testdata/migrate-case-1a/pod-b.yaml
  e2e/live/testdata/migrate-case-1a/pod-c.yaml
  e2e/live/testdata/migrate-case-1b/Kptfile
  e2e/live/testdata/migrate-case-1b/namespace.yaml
  e2e/live/testdata/migrate-case-1b/pod-b.yaml
  e2e/live/testdata/migrate-case-1b/pod-c.yaml
  e2e/live/testdata/migrate-case-1b/pod-d.yaml
  e2e/live/testdata/migrate-error/Kptfile
  e2e/live/testdata/migrate-error/namespace.yaml
  e2e/live/testdata/migrate-error/pod-a.yaml
  e2e/live/testdata/migrate-error/pod-b.yaml
  e2e/live/testdata/migrate-error/pod-c.yaml
  e2e/live/testdata/test-case-1a/Kptfile
  e2e/live/testdata/test-case-1a/inventory-template.yaml
  e2e/live/testdata/test-case-1a/namespace.yaml
  e2e/live/testdata/test-case-1a/pod-a.yaml
  e2e/live/testdata/test-case-1a/pod-b.yaml
  e2e/live/testdata/test-case-1a/pod-c.yaml
  e2e/live/testdata/test-case-1b/Kptfile
  e2e/live/testdata/test-case-1b/inventory-template.yaml
  e2e/live/testdata/test-case-1b/namespace.yaml
  e2e/live/testdata/test-case-1b/pod-b.yaml
  e2e/live/testdata/test-case-1b/pod-c.yaml
  e2e/live/testdata/test-case-1b/pod-d.yaml
Labels: area/live
