Repository kptdev/kpt, changes with the owners that CODEOWNERS names for each.
All owners: @droot, @frankfarzan, @mortent

CODEOWNERS:

# Docs need to have a single approver to maintain consistency.
/site @droot @frankfarzan
# These packages are referenced in docs.
/package-examples/nginx/ @droot @mortent
/package-examples/wordpress/ @droot @mortent

# Schemas changes additional scrutiny.
/pkg/api @droot @mortent

# These tests enforce the behavior for fn
kpt/e2e/testdata/fn-render @droot
kpt/e2e/testdata/fn-eval @droot

Refer to only the requested path and repo.
  internal/util/fetch/fetch.go
  internal/util/fetch/fetch_test.go
Owners: none

exclude kustomization files from KRM check
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.expected/config.yaml
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.krmignore
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/Kptfile
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/kustomization.yaml
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/resources.yaml
  e2e/testdata/fn-render/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-render/krm-check-exclude-kustomize/Kptfile
  e2e/testdata/fn-render/krm-check-exclude-kustomize/kustomization.yaml
  e2e/testdata/fn-render/krm-check-exclude-kustomize/resources.yaml
  pkg/api/kptfile/v1/validation.go
  pkg/api/kptfile/v1/validation_test.go
Owners: @droot, @mortent

fixed a typo
  pkg/api/kptfile/v1/validation.go
Owners: @droot, @mortent

Fetch pkg into tmp dir before moving on success.
  internal/util/get/get.go
Owners: none

Remove unnecessary go.mod changes.
  Makefile
  go.mod
  go.sum
  site/reference/schema/kptfile/kptfile.yaml
Owners: @droot, @frankfarzan

updated the license in newly added files
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/kustomization.yaml
  e2e/testdata/fn-render/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-render/krm-check-exclude-kustomize/kustomization.yaml
Owners: none

use constants from kustomize repo
  pkg/api/kptfile/v1/validation.go
  pkg/api/kptfile/v1/validation_test.go
Owners: @droot, @mortent

ran go mod tidy
  go.mod
  go.sum
Owners: none

Pin go-swagger version.
  Makefile
Owners: none

New e2e tests for kpt live (#2390)
  Makefile
  e2e/README.md
  e2e/live_test.go
  e2e/testdata/live-apply/crd-and-cr/config.yaml
  e2e/testdata/live-apply/crd-and-cr/resources/Kptfile
  e2e/testdata/live-apply/crd-and-cr/resources/cr.yaml
  e2e/testdata/live-apply/crd-and-cr/resources/crd.yaml
  e2e/testdata/live-apply/dry-run-with-install-rg/config.yaml
  e2e/testdata/live-apply/dry-run-with-install-rg/resources/Kptfile
  e2e/testdata/live-apply/dry-run-with-install-rg/resources/deployment.yaml
  e2e/testdata/live-apply/dry-run-without-rg/config.yaml
  e2e/testdata/live-apply/dry-run-without-rg/resources/Kptfile
  e2e/testdata/live-apply/dry-run-without-rg/resources/deployment.yaml
  e2e/testdata/live-apply/install-rg-on-apply/config.yaml
  e2e/testdata/live-apply/install-rg-on-apply/resources/Kptfile
  e2e/testdata/live-apply/install-rg-on-apply/resources/deployment.yaml
  pkg/test/live/config.go
  pkg/test/live/runner.go
Owners: none

Add kptfile schema to make generate (#2394)
  Makefile
  go.sum
  main.go
  pkg/api/kptfile/v1/types.go
  site/reference/schema/kptfile/kptfile.yaml
  site/static/js/plugins/copy_buttons.js
  site/static/js/plugins/github_widget.js
Owners: @droot, @mortent, @frankfarzan

updated comment on exported function
  pkg/api/kptfile/v1/validation.go
Owners: @droot, @mortent

added merge test for kustomization resource
  internal/util/merge/merge3_test.go
Owners: none

exclude kustomization files from KRM check (#2409)
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.expected/config.yaml
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/.krmignore
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/Kptfile
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/kustomization.yaml
  e2e/testdata/fn-eval/krm-check-exclude-kustomize/resources.yaml
  e2e/testdata/fn-render/krm-check-exclude-kustomize/.expected/diff.patch
  e2e/testdata/fn-render/krm-check-exclude-kustomize/Kptfile
  e2e/testdata/fn-render/krm-check-exclude-kustomize/kustomization.yaml
  e2e/testdata/fn-render/krm-check-exclude-kustomize/resources.yaml
  go.mod
  internal/util/merge/merge3_test.go
  pkg/api/kptfile/v1/validation.go
  pkg/api/kptfile/v1/validation_test.go
Owners: @droot, @mortent

upgraded
  .github/workflows/MyVerifiedContent.yml
Owners: none

re-enable gatekeeper test
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/.expected/config.yaml
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/.expected/results.yaml
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/Kptfile
Owners: none

re-enable gatekeeper test (#2398)
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/.expected/config.yaml
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/.expected/results.yaml
  e2e/testdata/fn-render/structured-results-from-muiltiple-fns/Kptfile
Owners: none

starlark fn v0.1 to v0.2
  e2e/testdata/fn-eval/all-resource-deletion/pkg/.expected/config.yaml
  e2e/testdata/fn-eval/fn-source/exclude-meta-resources-by-default-out-of-place/.expected/diff.patch
  e2e/testdata/fn-eval/fn-source/exclude-meta-resources-by-default/.expected/diff.patch
  e2e/testdata/fn-eval/fn-source/include-meta-resource-out-of-place/.expected/diff.patch
  e2e/testdata/fn-eval/fn-source/include-meta-resources/.expected/diff.patch
  e2e/testdata/fn-eval/fn-success-with-stderr/pkg/.expected/config.yaml
  e2e/testdata/fn-eval/fn-success-with-stderr/pkg/.expected/results.yaml
  e2e/testdata/fn-eval/function-chain/.expected/diff.patch
  e2e/testdata/fn-eval/preserve-order-include-meta-resources/.expected/diff.patch
  e2e/testdata/fn-eval/preserve-order-include-meta-resources/Kptfile
  e2e/testdata/fn-eval/resource-deletion/pkg/.expected/config.yaml
  e2e/testdata/fn-render/all-resource-deletion/Kptfile
  e2e/testdata/fn-render/fn-failure/.expected/config.yaml
  e2e/testdata/fn-render/fn-failure/Kptfile
  e2e/testdata/fn-render/fn-success-with-stderr/.expected/results.yaml
  e2e/testdata/fn-render/fn-success-with-stderr/Kptfile
  e2e/testdata/fn-render/fnconfig-ancestorfn-not-mutate-subpkg-config/.expected/diff.patch
  e2e/testdata/fn-render/generator-absolute-path/.expected/diff.patch
  e2e/testdata/fn-render/generator-absolute-path/Kptfile
  e2e/testdata/fn-render/path-index-ancestor/db/Kptfile
  e2e/testdata/fn-render/path-index-current/.expected/diff.patch
  e2e/testdata/fn-render/path-index-current/Kptfile
  e2e/testdata/fn-render/path-index-descendent/.expected/diff.patch
  e2e/testdata/fn-render/path-index-descendent/Kptfile
  e2e/testdata/fn-render/path-index-duplicate/Kptfile
  e2e/testdata/fn-render/path-index-outofpackage/db/Kptfile
  e2e/testdata/fn-render/resource-deletion/Kptfile
  e2e/testdata/fn-render/resource-has-pkgname-prefix/.expected/diff.patch
  e2e/testdata/fn-render/short-image-path/.expected/results.yaml
  e2e/testdata/fn-render/subpkg-fn-failure/Kptfile
  e2e/testdata/fn-render/subpkg-fn-failure/db/Kptfile
  e2e/testdata/fn-render/subpkg-has-invalid-kptfile/db/Kptfile
  e2e/testdata/fn-render/subpkg-resource-deletion/Kptfile
  e2e/testdata/fn-render/subpkg-resource-deletion/db/Kptfile
  e2e/testdata/fn-render/validate-generated-resource/.expected/diff.patch
  e2e/testdata/fn-render/validate-generated-resource/Kptfile
  e2e/testdata/fn-render/validate-resource-failure/.expected/results.yaml
  e2e/testdata/fn-render/validate-resource-failure/Kptfile
  site/book/05-developing-functions/04-executable-configuration.md
  site/installation/migration.md
Owners: @droot, @frankfarzan

Add e2e tests for depends-on functionality
  e2e/testdata/live-apply/apply-depends-on/config.yaml
  e2e/testdata/live-apply/apply-depends-on/resources/Kptfile
  e2e/testdata/live-apply/apply-depends-on/resources/first.yaml
  e2e/testdata/live-apply/apply-depends-on/resources/second.yaml
  e2e/testdata/live-apply/prune-depends-on/config.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/first.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/rg.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/second.yaml
  e2e/testdata/live-apply/prune-depends-on/resources/Kptfile
  e2e/testdata/live-apply/prune-depends-on/resources/cm.yaml
  pkg/test/live/runner.go
Owners: none

Fixes problem reading from stdin for live status command
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/stdin-test/pods.yaml
  thirdparty/cli-utils/status/cmdstatus.go
Owners: none

Fixes problem reading from stdin for live status command (#2417)
  e2e/live/end-to-end-test.sh
  e2e/live/testdata/stdin-test/pods.yaml
  thirdparty/cli-utils/status/cmdstatus.go
Owners: none

Adds error message for missing directory on get. (#2359)
  internal/util/fetch/fetch.go
  internal/util/fetch/fetch_test.go
  internal/util/get/get.go
Owners: none

Delete directory on failed fetches.
  internal/util/get/get.go
  internal/util/get/get_test.go
Owners: none

Fix typos in comment.
  internal/util/get/get_test.go
Owners: none

Move cleaning up dir to helper.
  internal/util/get/get.go
Owners: none

Hardcode op.
  internal/util/get/get.go
Owners: none

Delete partially fetched packages on failure. (#2410)
  internal/util/get/get.go
  internal/util/get/get_test.go
Owners: none

Add e2e tests for depends-on functionality (#2416)
  e2e/testdata/live-apply/apply-depends-on/config.yaml
  e2e/testdata/live-apply/apply-depends-on/resources/Kptfile
  e2e/testdata/live-apply/apply-depends-on/resources/first.yaml
  e2e/testdata/live-apply/apply-depends-on/resources/second.yaml
  e2e/testdata/live-apply/prune-depends-on/config.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/first.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/rg.yaml
  e2e/testdata/live-apply/prune-depends-on/pre-apply/second.yaml
  e2e/testdata/live-apply/prune-depends-on/resources/Kptfile
  e2e/testdata/live-apply/prune-depends-on/resources/cm.yaml
  pkg/test/live/runner.go
Owners: none

update installation doc to use 1.0.0-beta.3 release
  site/installation/README.md
Owners: @droot, @frankfarzan

update installation doc to use 1.0.0-beta.3 release (#2421)
  site/installation/README.md
Owners: @droot, @frankfarzan

Early-mutators and early-validators for render
  internal/cmdrender/executor.go
  pkg/api/kptfile/v1/types.go
Owners: @droot, @mortent

use starlark v0.2.1
  e2e/testdata/fn-eval/all-resource-deletion/pkg/.expected/config.yaml
  e2e/testdata/fn-eval/preserve-order-include-meta-resources/Kptfile
  e2e/testdata/fn-eval/resource-deletion/pkg/.expected/config.yaml
  e2e/testdata/fn-render/all-resource-deletion/Kptfile
  e2e/testdata/fn-render/fn-failure/.expected/config.yaml
  e2e/testdata/fn-render/fn-failure/Kptfile
  e2e/testdata/fn-render/generator-absolute-path/Kptfile
  e2e/testdata/fn-render/generator/db/Kptfile
  e2e/testdata/fn-render/path-index-ancestor/db/Kptfile
  e2e/testdata/fn-render/path-index-current/Kptfile
  e2e/testdata/fn-render/path-index-descendent/Kptfile
  e2e/testdata/fn-render/path-index-duplicate/Kptfile
  e2e/testdata/fn-render/path-index-outofpackage/db/Kptfile
  e2e/testdata/fn-render/resource-deletion/Kptfile
  e2e/testdata/fn-render/subpkg-fn-failure/Kptfile
  e2e/testdata/fn-render/subpkg-fn-failure/db/Kptfile
  e2e/testdata/fn-render/subpkg-has-invalid-kptfile/db/Kptfile
  e2e/testdata/fn-render/subpkg-resource-deletion/Kptfile
  e2e/testdata/fn-render/subpkg-resource-deletion/db/Kptfile
  e2e/testdata/fn-render/validate-generated-resource/Kptfile
  e2e/testdata/fn-render/validate-resource-failure/.expected/results.yaml
  e2e/testdata/fn-render/validate-resource-failure/Kptfile
Owners: none

update expected
  e2e/testdata/fn-eval/preserve-order-include-meta-resources/.expected/diff.patch
  e2e/testdata/fn-render/fn-failure/.expected/config.yaml
Owners: none

Copy existing generator and subpkgs tests
  e2e/testdata/fn-render/early-mutators/generator/.expected/diff.patch
  e2e/testdata/fn-render/early-mutators/generator/.krmignore
  e2e/testdata/fn-render/early-mutators/generator/Kptfile
  e2e/testdata/fn-render/early-mutators/generator/db/Kptfile
  e2e/testdata/fn-render/early-mutators/generator/db/resources.yaml
  e2e/testdata/fn-render/early-mutators/generator/db/starlark-httpbin.yaml
  e2e/testdata/fn-render/early-mutators/generator/resources.yaml
  e2e/testdata/fn-render/early-mutators/subpkgs/.expected/diff.patch
  e2e/testdata/fn-render/early-mutators/subpkgs/.krmignore
  e2e/testdata/fn-render/early-mutators/subpkgs/Kptfile
  e2e/testdata/fn-render/early-mutators/subpkgs/db/Kptfile
  e2e/testdata/fn-render/early-mutators/subpkgs/db/resources.yaml
  e2e/testdata/fn-render/early-mutators/subpkgs/resources.yaml
Owners: none

Update generator and subpkgs tests with early-mutators
  e2e/testdata/fn-render/early-mutators/generator/.expected/diff.patch
  e2e/testdata/fn-render/early-mutators/generator/Kptfile
  e2e/testdata/fn-render/early-mutators/generator/db/Kptfile
  e2e/testdata/fn-render/early-mutators/subpkgs/.expected/diff.patch
  e2e/testdata/fn-render/early-mutators/subpkgs/Kptfile
  e2e/testdata/fn-render/early-mutators/subpkgs/db/Kptfile
Owners: none

Copy subpkgs test for mutators-combo
  e2e/testdata/fn-render/mutators-combo/subpkgs/.expected/diff.patch
  e2e/testdata/fn-render/mutators-combo/subpkgs/.krmignore
  e2e/testdata/fn-render/mutators-combo/subpkgs/Kptfile
  e2e/testdata/fn-render/mutators-combo/subpkgs/db/Kptfile
  e2e/testdata/fn-render/mutators-combo/subpkgs/db/resources.yaml
  e2e/testdata/fn-render/mutators-combo/subpkgs/resources.yaml
Owners: none

Update subpkgs test for mutators combo
  e2e/testdata/fn-render/mutators-combo/subpkgs/.expected/diff.patch
  e2e/testdata/fn-render/mutators-combo/subpkgs/Kptfile
  e2e/testdata/fn-render/mutators-combo/subpkgs/db/Kptfile
Owners: none

Handle prune
  internal/cmdrender/executor.go
Owners: none

Link directly to OpenAPI schema.
  site/reference/schema/kptfile/README.md
Owners: @droot, @frankfarzan

Upstream an helper fn for reading Kptfile
  pkg/kptfile/kptfileutil/util.go
Owners: none
